/* Import Main */
@import url('../main.css');

button {
    /* Appearance */
    height: 36px;
    padding: 9px 24px;
    border-radius: 18px;
    outline: none;
    border: none;

    /* Typography */
    font-weight: 500;

    /* Interaction */
    cursor: pointer;
    transition: opacity 200ms ease-in-out, color 200ms ease-in-out, background 200ms ease-in-out;
}

button:not(:disabled):hover {
    opacity: 0.8;
}

button * {
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
}

button:disabled {
    cursor: not-allowed;
}

button.primary {
    color: var(--mono-600);
    background: var(--banana);
}

button:disabled.primary {
    opacity: 0.4;
}

.light-theme button.secondary {
    color: var(--mono-600);
    background: var(--mono-200);
}

.light-theme button:disabled.secondary {
    color: var(--mono-300);
    background: var(--mono-200);
}

.night-theme button.secondary {
    color: var(--mono-200);
    background: var(--mono-500);
}

.night-theme button:disabled.secondary {
    color: var(--mono-400);
    background: var(--mono-550);
    cursor: not-allowed;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}