/* Import Main */
@import url('../main.css');

h1 {
    font-size: 36px;
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 400;
}

.light-theme p {
    color: var(--mono-400);
}

.night-theme p {
    color: var(--mono-200);
}

.header {
    display: flex;
    align-items: top;
    justify-content: flex-start;
    flex-direction: column;
    padding: 18px;
    gap: 18px;
}