/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;400;500;600;700&display=swap');

/* Imports: UI Components */
/** Buttons **/ @import url('ui/button.css');
/** Inputs **/ @import url('ui/input.css');
/** Typography **/ @import url('ui/type.css');

/* Global & Root Styles */
* {
    margin: 0;
    padding: 0;
    font-family: Spline Sans, Helvetica, sans-serif;
    color: var(--night);
}

:root {
    /* Brand Colors */
    --banana: #FFCC00;
    --bird: #00BDFF;

    /* Mono Colors */
    --mono-100: #FFFFFF;
    --mono-200: #CDD7FC;
    --mono-300: #A5B4EC;
    --mono-400: #6277C1;
    --mono-500: #3A4B89;
    --mono-600: #253364;

    /* Typography */
    --type-normal: "Spline Sans", Helvetica, sans-serif;
    --type-mono: "Spline Sans Mono", Helvetica, sans-serif;
}